@use 'variables';

.party{
    padding: 80px 0;
    
    &--bebida, &--churrasco{
        background-color: variables.$secundaryTextColor;
    }


    .container{    
    display: flex;
    gap: 40px;

    @media(max-width: 640px){
        display: block;
        }
    }

    &__image{
        max-width: 360px;

        @media(max-width: 640px){
            width: 100%;
        }
    }

    &__detail {

        @media(max-width: 640px){
            margin-right: 0;
            margin-bottom: 16px;
        }
        &__title {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            font-size: 20px;
            line-height: 22px;

            @media(max-width: 640px){
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}